<h2>商品一覧</h2>

<%= link_to "新規登録", new_admin_item_path %>

<table>
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </tr>

  <% @items.each do |item| %>
    <td><%= item.id %></td>

  <% end %>



</table>